language: perl
sudo: true

install:
  - perlbrew list
  - bash corpus/travis_helper.sh
  - cpanm https://dist.wdlabs.com/Alien-Apache24-0.05.tar.gz -v
  - echo 'y' | alien-apache24-install-mod_perl
  - dzil authordeps --missing | cpanm -n
  - dzil listdeps --missing | cpanm -n

perl:
  - "5.18-shrplib"
  - "5.20-shrplib"

script:
  - dzil test -v
